- content_for :js_onready do
  SplitTest.initialize()

%p
  - ab_test(@test_name, @test_values) do |fruit|
    %button#split-test-button{ data: { testValue: fruit, testName: @test_name } }
      #{@test_name.to_s.humanize} #{fruit.to_s.upcase}

%p
  = link_to("Recent test results", "/test_results")

- finished(@test_name)
